@model IEnumerable<ContactModel>
@{
    ViewData["Title"] = "Contact List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h4>List Contact</h4>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Map</th>
            <th scope="col">Logo</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@Html.Raw(@item.Map)</td>
                <td><img width="100px" height="100px" src="~/media/logos/@item.Logo" alt=""></td>
                <td>@item.Phone</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Contact" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
